body {
    background-color: bisque;
    margin: 0;
}

#design {
    display:inline-block;
    justify-content: center;
    margin: 200px;
    height: 250px;
    text-align: center;
    background-color: brown;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

.numberInput {
    height: 35px;
    width: 35px;
}
#multiplicacion {
    height: 35px;
    width: 35px;
}

#division {
    height: 35px;
    width: 35px;
}

#suma {
    height: 35px;
    width: 35px;
}

#resta {
    height: 35px;
    width: 35px;
}

#resultado {
    height: 35px;
    width: 35px;
}

#borrar {
    height: 35px;
    width: 35px;
}

#input {
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif
}